<h1>Edit doctor details here</h1>

<form method="post" action="/doctors/<%=@doctor.id%>">
    <input name="_method" type="hidden" value="patch"/>
    <input name="doctor[name]" type="text" placeholder="Name..." value="<%=@doctor.name%>"/>
    <input name="doctor[age]" type="number" placeholder="Age..." value="<%=@doctor.age%>"/>
    <input type="submit" value="Update doctor"/>
</form>
<p>
<form method="post" action="/doctors/<%= @doctor.id %>/delete">
    <input name="_method" type="hidden" value="delete" />
    <input type="submit" value="Delete doctor" style="background: red;" />
</form>
</p>